@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* signup page */

.signup-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  font-size: 18px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input {
  font-size: 16px;
  padding: 5px;
}

form button {
  background-color: rgb(94, 96, 178);
  color: white;
  font-size: 16px;
  padding: 5px;
  border: none;
}

/* login page */
.login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  border-bottom: 2px solid gray;
  background-color: white;
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.username button {
  background-color: rgb(213, 56, 56);
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #981f1f;
}
/* ouelet */
.outlet {
  width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  background-color: rgb(234, 232, 232);
}

/* home */
.home {
  padding-top: 20px;
  padding: 10px;
}
.home .kahoots-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.kahoots-container > button {
  position: absolute;
  right: 10px;
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}

.kahoots-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vw;
  padding: 20px 10px;
}
.kahoot-card {
  background-color: white;
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.kahoot-card div {
  display: flex;
  gap: 10px;
}
.kahoot-card button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}

/* details */
.detail {
  display: flex;
  border: 1px solid;
}
.kahoot-detail {
  padding: 10px;
  display: flex;
  gap: 10px;
  border: 1px solid;
}
.kahoot-detail .left {
  width: 40vh;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.kahoot-detail .left button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}

.kahoot-detail .questions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 70vw;
}
.kahoot-detail .ques-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 5px;
  width: 100%;
}
.kahoot-detail .ques-card img {
  width: 60px;
}
.kahoot-detail .options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border: 1px solid;
}

.kahoot-detail .option {
  width: 25vh;
  height: 30px;
  border: 1px solid;
}

/* create */

.create {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
}
.create .left {
  padding: 10px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  gap: 10px;
}
.create .left > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create .left .left-queCard {
  position: relative;
  border: 2px solid gray;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left .left-queCard .delete {
  position: absolute;
  width: 20px;
  right: -20px;
  bottom: 0;
}
.create .left .left-opt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 180px;
  gap: 5px;
}
.create .left .left-opt-container div {
  width: 60px;
  height: 20px;
  border: 2px solid gray;
}
.create .left button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}
.create .middle {
  padding: 10px;
  width: 60vw;
}

.middle .options {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.middle .options input {
  width: 22vw;
}

.middle .options > div {
  position: relative;
  border: 1px solid;
}
.middle .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid gray;
  position: absolute;
  right: 2px;
  top: 10px;
}

.create .right {
  padding: 10px;
  width: 20vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create .right button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}

.right .time-limit {
  display: flex;
  flex-direction: column;
}

/* play */
.play {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #511999;
}
.play .room-id-container {
  padding: 10px;
  height: 20vh;
  display: flex;
  gap: 20px;
}

.play .room-id-container .id-card {
  gap: 10px;
  width: 600px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.play .id-card .room-id {
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 16px;
  gap: 10px;
  border-radius: 5px;
}
.play .qr-code {
  /* width: 80px;
  height: 80px; */
  background-color: white;
  border-radius: 5px;
  transform: scale(45%);
}
.play .member-container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.play .members-name {
  background-color: rgba(220, 218, 218, 0.704);
  padding: 5px;
  border-radius: 5px;
}
.play .bottom {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #6f31c1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.play .bottom button {
  position: absolute;
  right: 20px;
  background-color: rgb(180, 176, 176);
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #868585;
}
/* player */
.player {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #511999;
  color: white;
  gap: 20px;
}
.player .player-id {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
.player .player-id input {
  padding: 5px;
  border: 2px solid rgb(168, 165, 165);
  border-radius: 5px;
  font-size: 18px;
}
.player .player-id button {
  background-color: rgb(51, 50, 50);
  color: white;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #161616;
}

/* Quiz */

.quiz {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  background-color: #6f31c1;
}
.quiz .next {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: rgb(114, 111, 111);
  color: white;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #4d4d4d;
}
.quiz .title {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
.quiz .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #511999;
  color: white;
  padding: 10px;
  font-size: 18px;
}
.quiz .ques {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.quiz .ques h3 {
  font-size: 40px;
  color: white;
}
.quiz img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(174, 174, 174);
}
.quiz .option {
  display: flex;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border: 1px solid;
  padding: 10px;
}
.quiz .option button {
  background-color: rgb(247, 246, 249);
  /* box-shadow: 0px 4px 0px #531f98; */
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 36px;
  font-weight: 700;
  color: rgb(49, 58, 178);
  width: 30vh;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz .overview {
  position: absolute;
  left: 10px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.quiz .overview .opt {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  width: 20px;
}

.quiz .scoreBoard {
  background-color: white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.quiz .scoreBoard .score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(173, 180, 205, 0.593);
}

.quiz .your-score {
  color: white;
}
.quiz .your-score .my-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quiz .your-score h1 {
  font-size: 50px;
  font-weight: 700;
}

.quiz .your-score p {
  font-size: 25px;
}
