@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Fira+Code&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.branding {
  font-size: 36px;
  letter-spacing: 4px;
  color: #1f4598;
  font-family: "Dangrek", cursive;
}
/* loading */
.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 100px;
  height: 100px;
  position: relative;
  display: none;
}

.square {
  width: 40px;
  height: 40px;
  background-color: rgb(52, 202, 88);
  animation-name: circle;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes circle {
  0% {
    left: 0;
    border-radius: 0;
    top: 0;
  }

  25% {
    left: 60px;
    border-radius: 30px;
    top: 0;
  }

  50% {
    left: 60px;
    border-radius: 0;
    top: 60px;
  }

  75% {
    left: 0;
    border-radius: 30px;
    top: 60px;
  }

  100% {
    left: 0;
    border-radius: 0;
    top: 0;
  }
}

/* signup page */

.signup-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}
.signup-main .pattern {
  /* position: absolute; */
  bottom: 0;
  width: 700px;
  left: 0;
  z-index: -1;
}
.signup-main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  font-size: 18px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input {
  font-size: 16px;
  padding: 5px;
}

form button {
  background-color: rgb(94, 96, 178);
  color: white;
  font-size: 16px;
  padding: 5px;
  border: none;
}

/* login page */
.login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.login-main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
.login-main .pattern {
  /* position: absolute; */
  bottom: 0;
  width: 700px;
  left: 0;
  z-index: -1;
}

/* header */
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 1px 4px #b8b5b5;
  z-index: 2;
}
.header .brand-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .brand-menu ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.header .brand-menu li {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  padding: 5px;
  cursor: pointer;
}
.header .brand-menu .selected {
  color: rgb(6, 6, 6);
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.username button {
  background-color: rgb(213, 56, 56);
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #981f1f;
}
/* ouelet */
.outlet {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(234, 232, 232);
}

/* home */
.home {
  padding: 10px;
  padding-top: 70px;
}

.home .kahoots-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.home .kahoots-container h3 {
  font-size: 22px;
}
.kahoots-container > button {
  position: absolute;
  right: 10px;
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}

.kahoots-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vw;
  /* padding: 20px 10px; */
  padding-top: 20px;
}

.kahoot-card {
  background-color: white;
  width: 100%;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.kahoot-card .kahoot-title-card {
  display: flex;
  gap: 10px;
}
.kahoot-card .kahoot-title-card .kahoot-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.kahoot-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.kahoot-card div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.kahoot-card div .edit-img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.kahoot-card h4 {
  font-size: 20px;
  color: #4a4949;
}
.kahoot-card div p {
  font-weight: 600;
  color: #4d4d4d;
}
.kahoot-card button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}
.report-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 80vw;
  /* height: 550px; */
  /* padding: 20px 10px; */
  padding-top: 20px;
  /* overflow: auto; */
}
.report-Card {
  background-color: white;
  width: 100%;
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.report-Card div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .report-Card p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
} */
.report-Card img {
  width: 150px;
  height: 150px;
}
/* report page */
.report {
  width: 100%;
  height: 100vh;
  padding: 10px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.report .score-container {
  width: 70vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 5px;
}
.report .score-container .score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(94, 122, 182);
  color: white;
}
/* details */
.detail {
  display: flex;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 70px;
}
.kahoot-detail {
  display: flex;
  gap: 10px;
}
.kahoot-detail .left {
  padding: 10px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 2px 6px #cac8c8;
}
.kahoot-detail .left button {
  background-color: rgb(56, 82, 213);
  width: 120px;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  /* font-weight: 700; */
  box-shadow: 0px 4px 0px #1f4598;
  margin-right: 10px;
  margin-top: 10px;
}
.kahoot-detail .left .delete {
  background-color: rgb(213, 61, 56);
  box-shadow: 0px 4px 0px #98251f;
}
.kahoot-detail .left img {
  width: 24vw;
  height: 32vh;
  object-fit: cover;
}

.kahoot-detail .questions-container {
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 60vw;
  overflow-y: auto;
}
.kahoot-detail .ques-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 160px;
  border-radius: 5px;
  overflow: hidden;
}
.kahoot-detail .ques-card > div {
  padding: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.kahoot-detail .ques-card h4 {
  font-size: 18px;
}
.kahoot-detail .ques-card img {
  width: 160px;
  height: 160px;
}
.kahoot-detail .options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.kahoot-detail .option {
  width: 400px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(208, 206, 206);
  /* background-color: rgb(232, 233, 232); */
  /* border-radius: 5px; */
}

/* create */

.create {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  padding-top: 70px;
}
.create .left {
  padding: 10px;
  padding-top: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  gap: 10px;
  /* border-top: 2px solid rgb(179, 178, 178);
  border-right: 1px solid rgb(198, 197, 197); */
}
.create .left > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create .highlight {
  width: 20vw;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.create .left .left-queCard {
  position: relative;
  border-radius: 3px;
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 4px;
  background-color: rgb(240, 238, 238);
}
.create .left .left-queCard p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  height: 25px;
  color: gray;
  text-align: center;
}
.left .left-queCard .delete {
  position: absolute;
  width: 18px;
  right: -20px;
  bottom: 0;
}
.create .left .left-opt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 180px;
  gap: 5px;
}
.create .left .left-opt-container div {
  width: 70px;
  height: 10px;
  border: 1px solid rgb(165, 165, 165);
}
.create .left .left-img {
  width: 50px;
  height: 30px;
  border: 1px dotted gray;
  overflow: hidden;
}
.create .left .left-img img {
  width: 50px;
  height: 30px;
  object-fit: cover;
}
.create .left button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}
.create .middle {
  padding: 10px;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.create .middle form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.middle form button {
  background-color: rgb(37, 174, 60);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #0e701a;
}
.middle #img {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.middle form .que-input {
  border-radius: 4px;
  width: 50vw;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 0px 4px 0px #bfbfbf;
}

.middle .form-image-div {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}
.middle .form-image-div .img-input {
}
.middle .form-image-div img {
  width: 350px;
  height: 240px;
  object-fit: cover;
}
.middle .options {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.middle .options input {
  width: 22vw;
  height: 70px;
  border-radius: 4px;
  background-color: rgb(250, 249, 249);
  border: none;
  outline: none;
  box-shadow: 0px 4px 0px #bfbfbf;
}

.middle .options > div {
  position: relative;
}
.middle .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: white;
  position: absolute;
  right: 8px;
  top: 30%;
}

.create .right {
  padding: 10px;
  padding-top: 20px;
  width: 20vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.create .right > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  border: 1px solid gray;
}
.right select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}
.create .right button {
  background-color: rgb(56, 82, 213);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1f4598;
}
.create .right .save-btn {
  font-size: 20px;
  margin-top: 20px;
}

.right .drop-downs {
  display: flex;
  flex-direction: column;
}

/* play */
.play {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #511999;
  position: relative;
}
.play .copied {
  background-color: #c65438;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  transition: all ease-in-out;
}
.play .room-id-container {
  padding: 10px;
  height: 22vh;
  display: flex;
  gap: 20px;
}

.play .room-id-container .id-card {
  gap: 15px;
  width: 800px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play .id-card .room-id {
  background-color: white;
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 16px;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
}
.play .room-id .roomId {
  background-color: #1e1e1fc0;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* .play .qr-code-container {
  padding: 5px;
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.play .qr-code {
  /* width: 80px;
  height: 80px; */
  background-color: white;
  border-radius: 5px;
  transform: scale(40%);
}
.play .member-container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.play .members-name {
  background-color: rgba(220, 218, 218, 0.704);
  padding: 5px;
  border-radius: 5px;
}
.play .bottom {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #6f31c1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.play .bottom button {
  position: absolute;
  right: 20px;
  background-color: rgb(238, 236, 236);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #aaaaaa;
}
/* player */
.player {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #511999;
  color: white;
  gap: 20px;
}
.player .player-id {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
.player .player-id input {
  padding: 5px;
  border: 2px solid rgb(168, 165, 165);
  border-radius: 5px;
  font-size: 18px;
}
.player .player-id button {
  background-color: rgb(51, 50, 50);
  color: white;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #161616;
}

/* Quiz */

.quiz {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  background-color: #6f31c1;
}
.quiz .timer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  top: 60px;
  overflow: hidden;
}
.quiz .timer div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a13636c;
}
.quiz .timer p {
  position: relative;
  margin: 20px;
  font-size: 20px;
  z-index: 2;
  color: white;
}
.quiz .next {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: rgb(244, 244, 246);
  /* color: white; */
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #939394;
}

.quiz .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #511999;
  color: white;
  padding: 10px;
  font-size: 18px;
}
.quiz .ques {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.quiz .ques .question {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #aea9a9;
}
.quiz .ques h3 {
  font-size: 28px;
  /* color: white; */
}
.quiz img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(174, 174, 174);
}
.quiz .option {
  display: flex;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.quiz .option button {
  font-size: 1.2em;
  font-weight: 700;
  width: 40vh;
  height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 55, 93);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #1c252d;
}

.quiz .overview {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.quiz .overview .opt {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
}
.title {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
.scoreBoard {
  background-color: white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.scoreBoard .score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(173, 180, 205, 0.593);
}

.your-score {
  color: white;
}
.your-score .my-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.your-score h1 {
  font-size: 50px;
  font-weight: 700;
}

.your-score p {
  font-size: 25px;
}

.quiz .save-report {
  background-color: rgb(70, 69, 69);
  color: white;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #2f2f2f;
}
.scores {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f31c1;
  position: relative;
}

.leaderBoard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.leaderBoard .middle-box {
  width: 600px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.leaderBoard .middle-box .first {
  width: 100px;
  height: 400px;
  background-color: #391d8cd0;
  border-radius: 5px;
  box-shadow: 0px 3px 11px 0px #060740;
  z-index: 1;
  opacity: 0;
  animation: slideUp 1s ease-in-out 5s;
  animation-fill-mode: forwards;
  position: relative;
}
.middle-box .first div {
  width: 100%;
  height: 200px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.leaderBoard .middle-box .second {
  width: 100px;
  height: 330px;
  background-color: #391d8cd0;
  border-radius: 5px;
  opacity: 0;
  animation: slideUp 1s ease-in-out 2s;
  animation-fill-mode: forwards;
  position: relative;
}
.leaderBoard .middle-box .third {
  width: 100px;
  height: 300px;
  background-color: #391d8cd0;
  border-radius: 5px;
  opacity: 0;
  animation: slideUp 1s ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
}
.middle-box .name1 {
  position: absolute;
  top: -30px;
  left: 25%;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
} ;

.back-home-btn{
  position: absolute;
  right: 20px;
  top: 20px;
}